@model IEnumerable<FitApp.Models.Room>

@{
    ViewBag.Title = "Rooms";
}

<h2>Sale treningowe</h2>

@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Dodaj nową", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edytuj", "Edit", new { id=item.RoomId }) 
            }
            |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.RoomId }) |
            @if (User.IsInRole("admin"))
            {
            @Html.ActionLink("Usuń", "Delete", new { id = item.RoomId })
            }
        </td>
    </tr>
}

</table>
