@model FitApp.Models.Activity

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć ten trening?</h3>
<div>
    <h4>Trening</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
